In [2]:
using DrWatson
@quickactivate "Doran_etal_2022"

using Muon, CSV, DataFrames

In [ ]:
# rowmeta = CSV.read(datadir("exp_raw", "UP7047", "UProwmeta.csv"), DataFrame);
uniprot = readh5ad(joinpath(datadir(), "exp_pro", "UP7047", "2020_02_UP7047.h5ad"))
rowmeta = uniprot.obs[:, :];

In [37]:
outdir = datadir("exp_pro", "UPsubsetMSAs")
mkpath(outdir)

"/Users/ben/projects/Doran_etal_2022/data/exp_pro/UPsubsetMSAs"

## Subset to different number of taxa

* 25 taxa at Genus level (Ruminococcus)
* 50 taxa at Family level (Rhodospirillaceae)
* 103 taxa at Order level (Oceanospirillales)
* 211 taxa at Class level (Bacteroidia)

In [22]:
combine(nrow, groupby(rowmeta, :Genus)) |>
    df->sort(df, :nrow, rev=true) |>
    df->filter(:nrow=>x->24 .< x .< 27, df)

2×2 DataFrame
 Row │ Genus         nrow
     │ String        Int64
─────┼─────────────────────
   1 │ Helicobacter     26
   2 │ Ruminococcus     25

In [51]:
mask = findall(==("Ruminococcus"), rowmeta.Genus);
subsetMSA = Char.(replace(uniprot.X[mask, :] .> 0.0, true=>'T', false=>'A'))
open(joinpath(outdir, "UPsubset_taxa=25_level=Genus_group=Ruminococcus_alphabet=AT.phy"), "w") do io
    println(io, size(subsetMSA, 1), " ", size(subsetMSA, 2))
    for (id, row) in zip(rowmeta.proteomeID[mask], eachslice(subsetMSA, dims=1))
        println(io, id, "    ", join(row))
    end
end

In [52]:
combine(nrow, groupby(rowmeta, :Family)) |>
    df->sort(df, :nrow, rev=true) |>
    df->filter(:nrow=>x->48 .< x .< 52, df)

2×2 DataFrame
 Row │ Family             nrow
     │ String             Int64
─────┼──────────────────────────
   1 │ Alteromonadaceae      51
   2 │ Rhodospirillaceae     50

In [53]:
mask = findall(==("Rhodospirillaceae"), rowmeta.Family);
subsetMSA = Char.(replace(uniprot.X[mask, :] .> 0.0, true=>'T', false=>'A'))
open(joinpath(outdir, "UPsubset_taxa=50_level=Family_group=Rhodospirillaceae_alphabet=AT.phy"), "w") do io
    println(io, size(subsetMSA, 1), " ", size(subsetMSA, 2))
    for (id, row) in zip(rowmeta.proteomeID[mask], eachslice(subsetMSA, dims=1))
        println(io, id, "    ", join(row))
    end
end

In [54]:
combine(nrow, groupby(rowmeta, :Order)) |>
    df->sort(df, :nrow, rev=true) |>
    df->filter(:nrow=>x->95 .< x .< 105, df)

2×2 DataFrame
 Row │ Order              nrow
     │ String             Int64
─────┼──────────────────────────
   1 │ Oceanospirillales    103
   2 │ Pseudomonadales       97

In [55]:
mask = findall(==("Oceanospirillales"), rowmeta.Order);
subsetMSA = Char.(replace(uniprot.X[mask, :] .> 0.0, true=>'T', false=>'A'))
open(joinpath(outdir, "UPsubset_taxa=103_level=Order_group=Oceanospirillales_alphabet=AT.phy"), "w") do io
    println(io, size(subsetMSA, 1), " ", size(subsetMSA, 2))
    for (id, row) in zip(rowmeta.proteomeID[mask], eachslice(subsetMSA, dims=1))
        println(io, id, "    ", join(row))
    end
end

In [56]:
combine(nrow, groupby(rowmeta, :Class)) |>
    df->sort(df, :nrow, rev=true) |>
    df->filter(:nrow=>x->190 .< x .< 215, df)

1×2 DataFrame
 Row │ Class        nrow
     │ String       Int64
─────┼────────────────────
   1 │ Bacteroidia    211

In [57]:
mask = findall(==("Bacteroidia"), rowmeta.Class);
subsetMSA = Char.(replace(uniprot.X[mask, :] .> 0.0, true=>'T', false=>'A'))
open(joinpath(outdir, "UPsubset_taxa=211_level=Class_group=Bacteroidia_alphabet=AT.phy"), "w") do io
    println(io, size(subsetMSA, 1), " ", size(subsetMSA, 2))
    for (id, row) in zip(rowmeta.proteomeID[mask], eachslice(subsetMSA, dims=1))
        println(io, id, "    ", join(row))
    end
end

##